In [3]:
import pickle
import pandas as pd

In [4]:
df = pd.read_pickle(r'C:\Users\15853\Desktop\repos\gorman-earlyjobskill-analysis\data\output\original.pkl')

In [6]:
print(df)

                        IDENTIFIER  SURVEY_YEAR  RACE  SAMPLE_ID  GENDER  \
Identifier Survey Year
1          1978                  1         1978     3        5.0       2
           1979                  1         1979     3        5.0       2
           1980                  1         1980     3        5.0       2
           1981                  1         1981     3        5.0       2
           1982                  1         1982     3        5.0       2
...                            ...          ...   ...        ...     ...
12686      2008              12686         2008     3        1.0       1
           2009              12686         2009     3        1.0       1
           2010              12686         2010     3        1.0       1
           2011              12686         2011     3        1.0       1
           2012              12686         2012     3        1.0       1

                        ROTTER_SCORE  ROTTER_1  ROTTER_2  ROTTER_3  ROTTER_4  \
Identifier Survey Year
1          1978                 11.0       2.0       2.0       2.0       2.0
           1979                 11.0       2.0       2.0       2.0       2.0
           1980                 11.0       2.0       2.0       2.0       2.0
           1981                 11.0       2.0       2.0       2.0       2.0
           1982                 11.0       2.0       2.0       2.0       2.0
...                              ...       ...       ...       ...       ...
12686      2008                  7.0       1.0       2.0       1.0       2.0
           2009                  7.0       1.0       2.0       1.0       2.0
           2010                  7.0       1.0       2.0       1.0       2.0
           2011                  7.0       1.0       2.0       1.0       2.0
           2012                  7.0       1.0       2.0       1.0       2.0

                        ...  ENROLLED_SCHOOL_OCTOBER  \
Identifier Survey Year  ...
1          1978         ...                      NaN
           1979         ...                      NaN
           1980         ...                      NaN
           1981         ...                      NaN
           1982         ...                      NaN
...                     ...                      ...
12686      2008         ...                      NaN
           2009         ...                      NaN
           2010         ...                      NaN
           2011         ...                      NaN
           2012         ...                      NaN

                        ENROLLED_SCHOOL_NOVEMBER  ENROLLED_SCHOOL_DECEMBER  \
Identifier Survey Year
1          1978                              NaN                       NaN
           1979                              NaN                       NaN
           1980                              NaN                       NaN
           1981                              NaN                       NaN
           1982                              NaN                       NaN
...                                          ...                       ...
12686      2008                              NaN                       NaN
           2009                              NaN                       NaN
           2010                              NaN                       NaN
           2011                              NaN                       NaN
           2012                              NaN                       NaN

                        HIGHEST_DEGREE_RECEIVED  OCCALL70_MOD_JOB_1  \
Identifier Survey Year
1          1978                             NaN                 NaN
           1979                             NaN               325.0
           1980                             NaN                 NaN
           1981                             NaN               305.0
           1982                             NaN                 NaN
...                                         ...                 ...
12686      2008                             NaN                 NaN
           2009                             NaN                 NaN
           2010                             NaN                 NaN
           2011                             NaN                 NaN
           2012                             NaN                 NaN

                        OCCALL70_MOD_JOB_2  OCCALL70_MOD_JOB_3  \
Identifier Survey Year
1          1978                        NaN                 NaN
           1979                        NaN                 NaN
           1980                        NaN                 NaN
           1981                        NaN                 NaN
           1982                        NaN                 NaN
...                                    ...                 ...
12686      2008                        NaN                 NaN
           2009                        NaN                 NaN
           2010                        NaN                 NaN
           2011                        NaN                 NaN
           2012                        NaN                 NaN

                        OCCALL70_MOD_JOB_4  OCCALL70_MOD_JOB_5  IS_INTERVIEWED
Identifier Survey Year
1          1978                        NaN                 NaN            True
           1979                        NaN                 NaN            True
           1980                        NaN                 NaN           False
           1981                        NaN                 NaN            True
           1982                        NaN                 NaN           False
...                                    ...                 ...             ...
12686      2008                        NaN                 NaN           False
           2009                        NaN                 NaN           False
           2010                        NaN                 NaN           False
           2011                        NaN                 NaN           False
           2012                        NaN                 NaN           False

[444010 rows x 116 columns]