# Summary Statistics and Visualizations

In [8]:
# Import necessary packages 
import subprocess
import os
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import MaxNLocator
import seaborn as sns

In [9]:
# We might need to create the dataset if it does not exist in the first place.
fname = '../../data/output/original.pkl'
fname2 = '../../data/input/TNFI_TRUNC_79.csv'
if not os.path.exists(fname):
    cwd = os.getcwd()
    os.chdir('../../data/')
    subprocess.check_call('./create_data')
    os.chdir(cwd)

FileNotFoundError: [WinError 2] The system cannot find the file specified: '../../data/'

In [2]:
# Read in data
df = pd.read_pickle(r'C:\Users\15853\Desktop\repos\gorman-earlyjobskill-analysis\data\output\original.pkl')
SURVEY_YEAR = df['SURVEY_YEAR'].unique()
df.head(35)

                        IDENTIFIER  SURVEY_YEAR  RACE  SAMPLE_ID  GENDER  \
Identifier Survey Year
1          1978                  1         1978     3        5.0       2
           1979                  1         1979     3        5.0       2
           1980                  1         1980     3        5.0       2
           1981                  1         1981     3        5.0       2
           1982                  1         1982     3        5.0       2
           1983                  1         1983     3        5.0       2
           1984                  1         1984     3        5.0       2
           1985                  1         1985     3        5.0       2
           1986                  1         1986     3        5.0       2
           1987                  1         1987     3        5.0       2
           1988                  1         1988     3        5.0       2
           1989                  1         1989     3        5.0       2
           1990                  1         1990     3        5.0       2
           1991                  1         1991     3        5.0       2
           1992                  1         1992     3        5.0       2
           1993                  1         1993     3        5.0       2
           1994                  1         1994     3        5.0       2
           1995                  1         1995     3        5.0       2
           1996                  1         1996     3        5.0       2
           1997                  1         1997     3        5.0       2
           1998                  1         1998     3        5.0       2
           1999                  1         1999     3        5.0       2
           2000                  1         2000     3        5.0       2
           2001                  1         2001     3        5.0       2
           2002                  1         2002     3        5.0       2
           2003                  1         2003     3        5.0       2
           2004                  1         2004     3        5.0       2
           2005                  1         2005     3        5.0       2
           2006                  1         2006     3        5.0       2
           2007                  1         2007     3        5.0       2
           2008                  1         2008     3        5.0       2
           2009                  1         2009     3        5.0       2
           2010                  1         2010     3        5.0       2
           2011                  1         2011     3        5.0       2
           2012                  1         2012     3        5.0       2

                        ROTTER_SCORE  ROTTER_1  ROTTER_2  ROTTER_3  ROTTER_4  \
Identifier Survey Year
1          1978                 11.0       2.0       2.0       2.0       2.0
           1979                 11.0       2.0       2.0       2.0       2.0
           1980                 11.0       2.0       2.0       2.0       2.0
           1981                 11.0       2.0       2.0       2.0       2.0
           1982                 11.0       2.0       2.0       2.0       2.0
           1983                 11.0       2.0       2.0       2.0       2.0
           1984                 11.0       2.0       2.0       2.0       2.0
           1985                 11.0       2.0       2.0       2.0       2.0
           1986                 11.0       2.0       2.0       2.0       2.0
           1987                 11.0       2.0       2.0       2.0       2.0
           1988                 11.0       2.0       2.0       2.0       2.0
           1989                 11.0       2.0       2.0       2.0       2.0
           1990                 11.0       2.0       2.0       2.0       2.0
           1991                 11.0       2.0       2.0       2.0       2.0
           1992                 11.0       2.0       2.0       2.0       2.0
           1993                 11.0       2.0       2.0       2.0       2.0
           1994                 11.0       2.0       2.0       2.0       2.0
           1995                 11.0       2.0       2.0       2.0       2.0
           1996                 11.0       2.0       2.0       2.0       2.0
           1997                 11.0       2.0       2.0       2.0       2.0
           1998                 11.0       2.0       2.0       2.0       2.0
           1999                 11.0       2.0       2.0       2.0       2.0
           2000                 11.0       2.0       2.0       2.0       2.0
           2001                 11.0       2.0       2.0       2.0       2.0
           2002                 11.0       2.0       2.0       2.0       2.0
           2003                 11.0       2.0       2.0       2.0       2.0
           2004                 11.0       2.0       2.0       2.0       2.0
           2005                 11.0       2.0       2.0       2.0       2.0
           2006                 11.0       2.0       2.0       2.0       2.0
           2007                 11.0       2.0       2.0       2.0       2.0
           2008                 11.0       2.0       2.0       2.0       2.0
           2009                 11.0       2.0       2.0       2.0       2.0
           2010                 11.0       2.0       2.0       2.0       2.0
           2011                 11.0       2.0       2.0       2.0       2.0
           2012                 11.0       2.0       2.0       2.0       2.0

                        ...  ENROLLED_SCHOOL_OCTOBER  \
Identifier Survey Year  ...
1          1978         ...                      NaN
           1979         ...                      NaN
           1980         ...                      NaN
           1981         ...                      NaN
           1982         ...                      NaN
           1983         ...                      NaN
           1984         ...                      NaN
           1985         ...                      NaN
           1986         ...                      NaN
           1987         ...                      NaN
           1988         ...                      NaN
           1989         ...                      NaN
           1990         ...                      NaN
           1991         ...                      NaN
           1992         ...                      NaN
           1993         ...                      NaN
           1994         ...                      NaN
           1995         ...                      NaN
           1996         ...                      NaN
           1997         ...                      NaN
           1998         ...                      NaN
           1999         ...                      NaN
           2000         ...                      NaN
           2001         ...                      NaN
           2002         ...                      NaN
           2003         ...                      NaN
           2004         ...                      NaN
           2005         ...                      NaN
           2006         ...                      NaN
           2007         ...                      NaN
           2008         ...                      NaN
           2009         ...                      NaN
           2010         ...                      NaN
           2011         ...                      NaN
           2012         ...                      NaN

                        ENROLLED_SCHOOL_NOVEMBER  ENROLLED_SCHOOL_DECEMBER  \
Identifier Survey Year
1          1978                              NaN                       NaN
           1979                              NaN                       NaN
           1980                              NaN                       NaN
           1981                              NaN                       NaN
           1982                              NaN                       NaN
           1983                              NaN                       NaN
           1984                              NaN                       NaN
           1985                              NaN                       NaN
           1986                              NaN                       NaN
           1987                              NaN                       NaN
           1988                              NaN                       NaN
           1989                              NaN                       NaN
           1990                              NaN                       NaN
           1991                              NaN                       NaN
           1992                              NaN                       NaN
           1993                              NaN                       NaN
           1994                              NaN                       NaN
           1995                              NaN                       NaN
           1996                              NaN                       NaN
           1997                              NaN                       NaN
           1998                              NaN                       NaN
           1999                              NaN                       NaN
           2000                              NaN                       NaN
           2001                              NaN                       NaN
           2002                              NaN                       NaN
           2003                              NaN                       NaN
           2004                              NaN                       NaN
           2005                              NaN                       NaN
           2006                              NaN                       NaN
           2007                              NaN                       NaN
           2008                              NaN                       NaN
           2009                              NaN                       NaN
           2010                              NaN                       NaN
           2011                              NaN                       NaN
           2012                              NaN                       NaN

                        HIGHEST_DEGREE_RECEIVED  OCCALL70_MOD_JOB_1  \
Identifier Survey Year
1          1978                             NaN                 NaN
           1979                             NaN               325.0
           1980                             NaN                 NaN
           1981                             NaN               305.0
           1982                             NaN                 NaN
           1983                             NaN                 NaN
           1984                             NaN                 NaN
           1985                             NaN                 NaN
           1986                             NaN                 NaN
           1987                             NaN                 NaN
           1988                             NaN                 NaN
           1989                             NaN                 NaN
           1990                             NaN                 NaN
           1991                             NaN                 NaN
           1992                             NaN                 NaN
           1993                             NaN                 NaN
           1994                             NaN                 NaN
           1995                             NaN                 NaN
           1996                             NaN                 NaN
           1997                             NaN                 NaN
           1998                             NaN                 NaN
           1999                             NaN                 NaN
           2000                             NaN                 NaN
           2001                             NaN                 NaN
           2002                             NaN                 NaN
           2003                             NaN                 NaN
           2004                             NaN                 NaN
           2005                             NaN                 NaN
           2006                             NaN                 NaN
           2007                             NaN                 NaN
           2008                             NaN                 NaN
           2009                             NaN                 NaN
           2010                             NaN                 NaN
           2011                             NaN                 NaN
           2012                             NaN                 NaN

                        OCCALL70_MOD_JOB_2  OCCALL70_MOD_JOB_3  \
Identifier Survey Year
1          1978                        NaN                 NaN
           1979                        NaN                 NaN
           1980                        NaN                 NaN
           1981                        NaN                 NaN
           1982                        NaN                 NaN
           1983                        NaN                 NaN
           1984                        NaN                 NaN
           1985                        NaN                 NaN
           1986                        NaN                 NaN
           1987                        NaN                 NaN
           1988                        NaN                 NaN
           1989                        NaN                 NaN
           1990                        NaN                 NaN
           1991                        NaN                 NaN
           1992                        NaN                 NaN
           1993                        NaN                 NaN
           1994                        NaN                 NaN
           1995                        NaN                 NaN
           1996                        NaN                 NaN
           1997                        NaN                 NaN
           1998                        NaN                 NaN
           1999                        NaN                 NaN
           2000                        NaN                 NaN
           2001                        NaN                 NaN
           2002                        NaN                 NaN
           2003                        NaN                 NaN
           2004                        NaN                 NaN
           2005                        NaN                 NaN
           2006                        NaN                 NaN
           2007                        NaN                 NaN
           2008                        NaN                 NaN
           2009                        NaN                 NaN
           2010                        NaN                 NaN
           2011                        NaN                 NaN
           2012                        NaN                 NaN

                        OCCALL70_MOD_JOB_4  OCCALL70_MOD_JOB_5  IS_INTERVIEWED
Identifier Survey Year
1          1978                        NaN                 NaN            True
           1979                        NaN                 NaN            True
           1980                        NaN                 NaN           False
           1981                        NaN                 NaN            True
           1982                        NaN                 NaN           False
           1983                        NaN                 NaN           False
           1984                        NaN                 NaN           False
           1985                        NaN                 NaN           False
           1986                        NaN                 NaN           False
           1987                        NaN                 NaN           False
           1988                        NaN                 NaN           False
           1989                        NaN                 NaN           False
           1990                        NaN                 NaN           False
           1991                        NaN                 NaN           False
           1992                        NaN                 NaN           False
           1993                        NaN                 NaN           False
           1994                        NaN                 NaN           False
           1995                        NaN                 NaN           False
           1996                        NaN                 NaN           False
           1997                        NaN                 NaN           False
           1998                        NaN                 NaN           False
           1999                        NaN                 NaN           False
           2000                        NaN                 NaN           False
           2001                        NaN                 NaN           False
           2002                        NaN                 NaN           False
           2003                        NaN                 NaN           False
           2004                        NaN                 NaN           False
           2005                        NaN                 NaN           False
           2006                        NaN                 NaN           False
           2007                        NaN                 NaN           False
           2008                        NaN                 NaN           False
           2009                        NaN                 NaN           False
           2010                        NaN                 NaN           False
           2011                        NaN                 NaN           False
           2012                        NaN                 NaN           False

[35 rows x 116 columns]

In [4]:
# This function formats visualizations nicely
def set_formatter(ax):
    formatter = matplotlib.ticker.FuncFormatter(lambda x, p: format(int(x), ','))
    ax.get_yaxis().set_major_formatter(formatter)

In [7]:
# Plot the number of observations in the dataset over time 
number_obs = []
for year in SURVEY_YEAR:
    cond = df.loc[df['SURVEY_YEAR'] == year, 'IS_INTERVIEWED'].isin([True])
    number_obs += [df.loc[df['SURVEY_YEAR'] == YEAR, 'IDENTIFIER'][cond].count()]

NameError: name 'YEAR' is not defined

In [ ]:
df['AGE'] = df['SURVEY_YEAR'] - df['YEAR_OF_BIRTH']

cond = df['AGE'].isin([35])
df = df[cond]

for parent in ['father', 'mother']:

    ax = plt.figure().add_subplot(111)

    label = 'HIGHEST_GRADE_COMPLETED_' + parent.upper()
    x = df[label]
    x = x[x.between(10, 16)]

    y = df['HIGHEST_GRADE_COMPLETED']
    y = y[y.between(10, 16)]

    hm = sns.heatmap(pd.crosstab(y, x, normalize=True), cmap="Blues", vmin=0, vmax=0.05,
        annot=False)
    hm.invert_yaxis()
    plt.yticks([1], [10], rotation=0)
    plt.ylabel('Education')
    label = parent.capitalize() + "'s Education"
    plt.savefig('fig-human-capital-intergenerational-' + parent + '.png')